 * {
            margin: 0px;
            padding: 0px;
            border: 0px;
        }

        body {
            font-family: verdana, sans-serif;
            background-color: #F9F9F9;
        }

        .header {
            width: 960px;
            height: 81px;
            margin: 0 auto;
            box-sizing: border-box;
            padding-top: 30px;
        }

        .header .logo {
            width: 644px;
            height: 27px;
            background: url("../img/glb.png") no-repeat 0 0;
            float: left;
        }

        .header .logo a {
            width: 129px;
            height: 27px;
            display: inline-block;
        }

        .header .yc {
            width: 116px;
            height: 27px;
            float: right;
            color: #9D9D9D;
            font-size: 12px;
            margin-top: 5px;
        }

        .header .yc a {
            display: inline-block;
            width: 49px;
            height: 15px;
            text-align: center;
            color: #003399;
            font-size: 12px;
            text-decoration: none;
        }

        .content {
            width: 960px;
            height: 745px;
            margin: 0 auto;
            box-sizing: border-box;
        }

        .content .tou {
            width: 960px;
            height: 38px;
            background: url("../img/line.png") repeat-x;
            /*padding-left: 21px;*/
            text-indent: 21px;
            font-family: verdana, sans-serif;
        }

        .content .lineleft {
            width: 960px;
            height: 38px;
            background: url("../img/lineleft.png") no-repeat left 0;
        }

        .content .lineright {
            width: 960px;
            height: 38px;
            background: url("../img/lineright.png") no-repeat right 0;
        }

        .content .tou h1 {
            text-align: left;
            font-size: 14px;
            line-height: 38px;
            color: white;
            /*字体的区别在这里*/
            font-weight: normal;
        }

        .content .bottom {
            width: 960px;
            height: 715px;
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: #E0E0E0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .content .bottom .bottomleft {
            width: 641px;
            height: 714px;
            /*background-color: #ffba9d;*/
            float: left;
            background-color: white;
            border-right: 1px solid #E0E0E0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .content .bottom .bottomleft .bottomtitle {
            width: 527px;
            height: 34px;
            background-color: #58fcff;
            margin-left: 116px;
            margin-top: 50px;
            background: url("../img/tab.jpg") no-repeat 0 0;
            margin-bottom: 32px;
        }

        .content .bottom .bottomleft .bottomtitle ul {
            list-style: none;
        }

        .content .bottom .bottomleft .bottomtitle ul li {
            width: 137px;
            height: 34px;
            float: left;
            font-size: 14px;
            text-align: center;
            line-height: 35px;
        }

        ul > #bs {
            color: white;
        }

        ul .bbs {
            color: #878787;
        }

        .content .bottom .bottomright {
            width: 317px;
            height: 714px;
            background-color: #F5F5F5;
            float: right;
        }

        .content .bottom .bottomright img {
            margin-top: 106px;
            margin-left: 47px;
        }

        .content .bottom .bottomleft #bigbox {
            width: 438px;
            height: 553px;
            /*background-color: #ff6f8d;*/
            margin-left: 76px;
        }

        #bigbox .one {
            width: 438px;
            height: 70px;
            /*background-color: #d3ff3b;*/
        }

        #bigbox .one .left1 {
            width: 104px;
            height: 28px;
            /*background-color: #95ffb8;*/
            font-size: 14px;
            line-height: 28px;
            text-align: right;
            padding-right: 16px;
            margin-left: 13px;
            color: #555555;
        }

        #bigbox .one .left11 {
            width: 104px;
            height: 28px;
            /*background-color: #95ffb8;*/
            font-size: 14px;
            line-height: 28px;
            text-align: right;
            padding-right: 16px;
            margin-left: 10px;
            color: #555555;
        }

        #bigbox .one .left2 {
            width: 104px;
            height: 28px;
            /*background-color: #95ffb8;*/
            font-size: 14px;
            line-height: 28px;
            text-align: right;
            padding-right: 16px;
            margin-left: 38px;
            color: #555555;

        }

        #bigbox #specials {
            color: red;
        }

        #bigbox .one #inp {
            width: 210px;
            height: 26px;
            border: 1px solid #D5D5D5;
            /*margin-left: 14px;*/
        }

        #bigbox .one #sel {
            width: 96px;
            height: 24px;
            border: 1px solid black;
        }

        #bigbox p {
            font-size: 12px;
            color: #999999;
            margin-top: 9px;
            margin-left: 104px;
        }

        #bigbox .nomal {
            width: 334px;
            height: 28px;
            border: 1px solid #D5D5D5;
        }

        #p1 {
            padding-top: 10px;
        }

        #bigbox .two {
            width: 438px;
            height: 129px;
            /*background-color: #58fcff;*/
        }

        #bigbox .two .left3 {
            width: 104px;
            height: 28px;
            /*background-color: #95ffb8;*/
            font-size: 14px;
            line-height: 28px;
            text-align: right;
            padding-right: 16px;
            margin-left: 24px;
            color: #555555;
        }

        .two > #beside {
            width: 336px;
            height: 129px;
            /*background-color: #3b3dff;*/
            float: right;
        }

        .two > #beside > #besideleft {
            width: 213px;
            height: 129px;
            /*background-color: #ff8bb2;*/
            float: left;
        }

        .two > #beside > #besideleft > .inp2 {
            margin-top: 8px;
            width: 208px;
            height: 28px;
            border: 1px solid #D5D5D5;
            overflow: hidden;
        }

        .two > #beside > #besideleft > #sp {
            width: 192px;
            height: 15px;
            margin-left: 0px;
            margin-bottom: 10px;
            font-size: 12px;
            color: #999999;
            /*margin-top: 21px;*/
            /*background-color: #d1ff88;*/
            margin-top: 20px;
        }

        .two > #beside > #besideleft > .free {
            width: 140px;
            height: 30px;
            background: url("../img/qiepian.png") repeat;
        }

        .two > #beside > #besideleft > .free > .free1 {
            width: 140px;
            height: 30px;
            background: url("../img/freeleft.png") no-repeat left 0;
        }

        .two > #beside > #besideleft > .free > .free1 > .free2 {
            width: 140px;
            height: 30px;
            background: url("../img/freeright.png") no-repeat right 0;
            text-indent: 25px;
            margin-top: 10px;
            box-sizing: border-box;
            font-size: 13px;
            line-height: 30px;
            color: #555555;
        }

        .two > #beside > #besideright {
            width: 120px;
            height: 82px;
            /*background-color: #46ffdd;*/
            float: right;
        }

        .two > #beside > #besideright > #calldo {
            width: 140px;
            height: 51px;
            border: 1px solid #D5D5D5;

        }

        .two > #beside > #besideright > #changepic {
            text-decoration: none;
            font-size: 12px;
        }

        #bigbox .three {
            width: 438px;
            height: 107px;
            /*background-color: #6a3eff;*/
        }

        #bigbox .three .left4 {
            width: 104px;
            height: 28px;
            /*background-color: #95ffb8;*/
            font-size: 14px;
            line-height: 28px;
            text-align: right;
            padding-right: 16px;
            margin-left: -4px;
            color: #898989;

        }

        #bigbox .four {
            width: 119px;
            height: 37px;
            /*background-color: #ffba9d;*/
            margin-left: 101px;
            background: url("../img/glb.png") no-repeat 0px -360px;
            color: white;
            line-height: 37px;
            text-align: center;
            font-size: 14px;

        }

        .footer {
            width: 960px;
            height: 40px;
            margin: 0 auto;
            text-align: center;
            color: #999999;
            margin: auto;
            clear: both;
            line-height: 40px;
            color: #999;
            font-size: 12px;
        }

        .footer a {
            color: #999999;
            text-decoration: none;
        }
